@import "../node_modules/normalize.css/normalize.css";

:root {
  --white: #f2f2f2;
  --black: #3f3f3f;
  --serif: didot, times new roman, serif;
  --sans: 'Open Sans', gill sans, helvetica, arial, arial, sans-serif;
  --monospace: prestige elite std, consolas, courier new, monospace;
  --emdash: '\2014';
  --slideWidth: 720px;
  --slideHeight: 480px;
}

html, body, main {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.bespoke-parent {
  font-size: 1.5em;
  background: var(--white);
  color: var(--black);
  font-family: var(--sans);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  text-align: center;
  transition: background 1s ease;
  background-position: 50% 50%;
}

.bespoke-scale-parent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 1;
}
.bespoke-scale-parent .bespoke-active {
  pointer-events: auto;
}

.bespoke-slide {
  text-shadow: 0px 1px 0 rgba(0, 0, 0, 0.75);
  transition: opacity .3s ease;
  width: var(--slideWidth);
  height: var(--slideHeight);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: calc(-(var(--slideWidth) / 2));
  margin-top: calc(-(var(--slideHeight) / 2));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.bespoke-active {
  transition-delay: .3s;
}
.bespoke-inactive {
  opacity: 0;
  pointer-events: none;
}
.bespoke-backdrop {
  transition: opacity 1s ease;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
}
.bespoke-backdrop-active {
  opacity: 1;
}
.bespoke-progress-parent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: .3vw;
  z-index: 1;
}
.bespoke-progress-bar {
  background: var(--black);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transition: width 1s ease;
}

.end h2 {
  font-size: 45px;
  font-family: var(--sans);
  font-weight: 300;
}

a {
  color: currentColor;
  text-decoration: none;
}
